In [5]:
from bs4 import BeautifulSoup
import pandas as pd
import requests
import os 
print(os)

<module 'os' from 'C:\\Users\\14029\\anaconda3\\lib\\os.py'>

In [6]:
##Build table and URL info
url = 'https://www.pgatour.com/stats.html'

In [7]:
##Reading in the HTML webpage
df = pd.read_html(url, header = 0)

In [8]:
##View tables
len(df)

12

In [11]:
##Selecting the first table
df[5]

           Rank           Leader   Avg.
0             1    Cameron Champ  339.5
1             2    Matthew Wolff  336.0
2             3  Joseph Bramlett  335.4
3             4       Harry Hall  335.0
4             5    Cameron Young  329.7
5  Tour Average     Tour Average  307.1

In [12]:
dfdriveavg = df[5]

In [14]:
##Selecting the second table
df[10]

           Rank           Leader  Average
0             1     Beau Hossler    2.345
1             2  Matthias Schwab    1.511
2             3     Rory McIlroy    1.504
3             4     Nate Lashley    1.402
4             5       Harry Hall    1.329
5  Tour Average     Tour Average      NaN

In [15]:
dfputtavg = df[10]

In [ ]:
##Using the information from https://www.pgatour.com/stats.html we now have the top 5 drivers and the top 5 putters
##I will be using this information in conjunction with the other two data sets to help determine my hypothesis