In [11]:
import sqlite3
import pandas as pd

In [2]:
query = """
CREATE TABLE people_info
    (
        name VARCAR(100),
        address VARCAR(250),
        city VARCHAR(100),
        state VARCHAR(50),
        zip CARCHAR(10),
        phone VARCHAR(20)
    );
"""

In [4]:
##connection 
con = sqlite3.connect('mydata.sqlite')
con.commit()

In [6]:
##create dataset for table
data = [
        ('Thomas Shelby','1000 Giles Road','Papillion','NE','68046','123456789'),
        ('Drew Brees','1001 Giles Road','Papillion','NE','68046','123456789'),
        ('Optimus Prime','1002 Giles Road','Papillion','NE','68046','123456789'),
        ('Megatron','1003 Giles Road','Papillion','NE','68046','123456789'),
        ('Arthur Shelby','1004 Giles Road','Papillion','NE','68046','123456789'),
        ('Naruto Uzumaki','1005 Giles Road','Papillion','NE','68046','123456789'),
        ('Sasuke Uchiha','1006 Giles Road','Papillion','NE','68046','123456789'),
        ('Alvin Kamara','1007 Giles Road','Papillion','NE','68046','123456789'),
        ('Thomas the Train','1008 Giles Road','Papillion','NE','68046','123456789'),
        ('Bill','1009 Giles Road','Papillion','NE','68046','123456789'),
]

stmt = "INSERT INTO people_info VALUES(?, ?, ?, ?, ?, ?)"

con.executemany(stmt, data)
con.commit()

In [8]:
## return a list of tuples
cursor = con.execute("Select * from people_info")
rows = cursor.fetchall()
rows

[('Thomas Shelby', '1000 Giles Road', 'Papillion', 'NE', '68046', '123456789'),
 ('Drew Brees', '1001 Giles Road', 'Papillion', 'NE', '68046', '123456789'),
 ('Optimus Prime', '1002 Giles Road', 'Papillion', 'NE', '68046', '123456789'),
 ('Megatron', '1003 Giles Road', 'Papillion', 'NE', '68046', '123456789'),
 ('Arthur Shelby', '1004 Giles Road', 'Papillion', 'NE', '68046', '123456789'),
 ('Naruto Uzumaki',
  '1005 Giles Road',
  'Papillion',
  'NE',
  '68046',
  '123456789'),
 ('Sasuke Uchiha', '1006 Giles Road', 'Papillion', 'NE', '68046', '123456789'),
 ('Alvin Kamara', '1007 Giles Road', 'Papillion', 'NE', '68046', '123456789'),
 ('Thomas the Train',
  '1008 Giles Road',
  'Papillion',
  'NE',
  '68046',
  '123456789'),
 ('Bill', '1009 Giles Road', 'Papillion', 'NE', '68046', '123456789')]

In [9]:
## pass hte list through df constructot
cursor.description

(('name', None, None, None, None, None, None),
 ('address', None, None, None, None, None, None),
 ('city', None, None, None, None, None, None),
 ('state', None, None, None, None, None, None),
 ('zip', None, None, None, None, None, None),
 ('phone', None, None, None, None, None, None))

In [12]:
## create df
pd.DataFrame(rows, columns=[x[0] for x in cursor.description])

               name          address       city state    zip      phone
0     Thomas Shelby  1000 Giles Road  Papillion    NE  68046  123456789
1        Drew Brees  1001 Giles Road  Papillion    NE  68046  123456789
2     Optimus Prime  1002 Giles Road  Papillion    NE  68046  123456789
3          Megatron  1003 Giles Road  Papillion    NE  68046  123456789
4     Arthur Shelby  1004 Giles Road  Papillion    NE  68046  123456789
5    Naruto Uzumaki  1005 Giles Road  Papillion    NE  68046  123456789
6     Sasuke Uchiha  1006 Giles Road  Papillion    NE  68046  123456789
7      Alvin Kamara  1007 Giles Road  Papillion    NE  68046  123456789
8  Thomas the Train  1008 Giles Road  Papillion    NE  68046  123456789
9              Bill  1009 Giles Road  Papillion    NE  68046  123456789