In [1]:
import pandas as pd

In [2]:
## Create a series and practice basic arithmetic steps

In [3]:
## creating Series 1
list_a = [7.3, -2.5, 3.4, 1.5]
index_a = ['a','b','c','d']

series_a = pd.DataFrame(data=list_a,index=index_a)
series_a

     0
a  7.3
b -2.5
c  3.4
d  1.5

In [4]:
## Creating Series 2
list_b =[-2.1, 3.6, -1.5, 4, 3.1]
index_b = ['a', 'c', 'e', 'f', 'g']

series_b = pd.DataFrame(list_b,index_b)
series_b

     0
a -2.1
c  3.6
e -1.5
f  4.0
g  3.1

In [5]:
#adding series 1 and 2
added_series = series_a + series_b
added_series

     0
a  5.2
b  NaN
c  7.0
d  NaN
e  NaN
f  NaN
g  NaN

In [6]:
##subtracting series 1 and 2
subtracted_series = series_b - series_a
subtracted_series

     0
a -9.4
b  NaN
c  0.2
d  NaN
e  NaN
f  NaN
g  NaN